/*****
Librairie Timeline
*******/
.timeline{
  list-style: none;
  position: relative;
  padding: 40px 0;
}

.timeline >li {
    position: relative;
    margin-top: 10px;
  }

.timeline > li .timeline-panel {
  background-color: white;
  border:1px solid #d4d4d4;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  border-radius: 2px;
  padding: 20px;
}

.timeline > li .timeline-badge {

  background-color: #999;
  color: white;

  font-size: 1.4em;
  line-height:50px;
  text-align: center;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

/* responsive for timeline */
@media only screen and (min-width : 992px) {

  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 3px;
    margin-left: -1.5px;

    background-color: #999;
    content: " ";
  }

  .timeline > li .timeline-panel {
    position: relative;
    float: left;
    width: 46%;
  }

  .timeline > li.timeline-inverted .timeline-panel {
    float: right;
  }
  .timeline > li:after {
    content: " ";
    display: table;
    clear: both;
  }

  .timeline > li .timeline-badge {
    position: absolute;
    top: 16px;
    left: 50%;

    width: 50px;
    height: 50px;
    margin-left: -25px;

    border-radius:50%;
  }

  .timeline > li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    content: " ";
    border-top: 15px solid transparent;
    border-right: 0px solid #ccc;
    border-left: 15px solid #ccc;
    border-bottom: 15px solid transparent; 
    display: inline-block;
  }

  .timeline > li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    content: " ";
    border-top: 14px solid transparent;
    border-right: 0px solid #fff;
    border-left: 14px solid #fff;
    border-bottom: 14px solid transparent; 
    display: inline-block;
  }

  .timeline > li.timeline-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline > li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

}

/* FORMAT COMMUN */
html, body {
	height: 100%;
}

/*nav bar*/
nav {
	background-color: #8eaebd;
	color:#fff;
}

nav a {
	color: #fff;
}

/* vues principales */
.main_content {
  background-color: #031424;
	color: #fff;
  min-height: 500px;

  padding: 80px 50px;
}

.main_content h1 {
  font-size: 4em;
  margin-bottom: 5px;
}

.main_content h2 {
  font-size: 3.5em;
}

.main_content h3 {
  font-size: 2em;
}

.main_content p {
  font-size: 1.8em;
}

@media only screen and (max-width : 992px) {
  .main_content h1 {
    font-size: 2em;
  }

  .main_content h2 {
    font-size: 1.5em;
  }

  .main_content h3 {
    font-size: 1em;
  }

  .main_content p {
    font-size: 1em;
  }
}

.timeline_content {
  background-color: #eee;
}

/* textes particuliers*/
.subtitle {
  font-size: 2em !important;
  margin-top: 0;
  margin-bottom: 0;
}

.localisation {
  font-size: 1.5em !important;
}

.annonce {
  color: #cf6766;
}

@media only screen and (max-width : 992px) {
  .subtitle {
    font-size: 1.5em !important;
  }

  .localisation {
    font-size: 1.2em !important;
  }

}

/*footer */
footer {
  background-color: #031424;
  border-top: 2px solid white;
  color: #fff;
  padding: 20px;
}

/*images particulières */
img.avatar{
  margin-top: 200px;

  max-height: 200px;
  max-width: 200px;
  

	border:2px solid #fff;
	border-radius: 50%;
}

/* projets */
.projet a {
	position: relative;
  display: table;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.projet a > i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.more {
  color: #999 !important;
}

.technos img {
  max-height: 50px;
}

.projet .zoom {
	position: absolute;
	top:0;
	left:0;
  height: 100%;
  width: 100%;

	opacity: 0;
	background-color: rgba(3,20,36,0.5);
	color: white;
}

.projet:hover .zoom {
	opacity: 1;
}

/* pour que la flèche prenne la bonne couleur */
.timeline > li  .projet:hover.timeline-panel:after{
  border-right:15px solid rgba(3,20,36,0.4);
}


/* modal */
.modal-projet {
	width: 100%;
	height: 100%;
}

.image-modal {
  max-height: 500px;

  border:1px solid #000;
  border-radius: 2px;
}

/*responsive*/
@media (max-width: 992px) {

  .txt-md-center {
    text-align: center;
  }

  .block-md-center {
    margin-left: auto;
    margin-right: auto;
  }

  img.avatar {
    margin-top: 0;
  }

  .annonce {
    margin-left: 0;
  }

  .image-modal {
    max-height: 250px;
    margin-bottom: 20px;
  }
}

